#monthlyOutput {
    /* margin: 0 auto; */
    text-align: center;
    float: right;
    /* display: flex;
    justify-content: flex-center; */
}

#red {
    background-color: #dc3545;
    color: white;
}

#green {
background-color: #28a745;
color: white;
}